.app {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    /* background-color: #f8f9fd; */
  }
    
  input[type="submit"] {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    background: #800114;
    color: #fff;
    width: 200px!important;
    height: 40px!important;
  }
  
  input[type="submit"]:hover {
    background: #6b0212;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
  }
  
  .list-container {
    display: flex;
  }
  
  .error {
    color: red;
    font-size: 12px;
  }
  
  .title {
    font-size: 25px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 10px;
  }

  .topbend {
    height: 10px;
    width: 100%;
    position: relative;
    margin:0 auto;
    background-color: #800114;
  }
  .topbend:after {
    content: "";
    height: 50%;
    width: 100%;
    position: absolute;
    background: white;
    border-radius: 50%;
    bottom: -25%;
    transition: all 2s;
  }
  input{
    width: 100%;
    height: 30px;
    border-radius: 5px;
  }

  .displaynone{
    display: none;
  }
  .otpsent{
    color: green;
  }
  @media only screen and (min-width: 768px) {
    .login-form {
        width: 30%;
        background-color: white;
        padding: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  }
  /* Mobile */
  @media only screen and (max-width: 768px) {
    .login-form {
        width: 40%;
        background-color: white;
        padding: 2rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
  }

